/* line 1, ../sass/style_mobile.sass */
#front-top-left {
  width: 100%;
  float: none;
}

/* line 4, ../sass/style_mobile.sass */
#front-top-right {
  width: 100%;
  float: none;
}

/* line 8, ../sass/style_mobile.sass */
.panels-flexible-region-1-center, .panels-flexible-region-3-front_news {
  width: 100%;
}

/* line 12, ../sass/style_mobile.sass */
.front-page-top .views-field-title {
  margin-top: -126px;
}
/* line 14, ../sass/style_mobile.sass */
.front-page-top .views-field-title a {
  font-size: 36px;
}
/* line 16, ../sass/style_mobile.sass */
.front-page-top .views-field-field-lead {
  padding: 10px;
  border-bottom: 6px solid #e3201b;
}

/* line 20, ../sass/style_mobile.sass */
#front-top-right .views-field-title {
  margin-top: -80px;
}

/* line 23, ../sass/style_mobile.sass */
.view-articles-front .views-field-field-images {
  width: 100%;
}
/* line 25, ../sass/style_mobile.sass */
.view-articles-front .views-field-field-images img {
  width: 100%;
}
/* line 27, ../sass/style_mobile.sass */
.view-articles-front .views-field-field-lead {
  padding: 0 5px;
}
